.address{
    font-size: .8rem;
}

@media only screen and (min-width: 768px){
    .address{
    font-size: 1rem;
}
}

@media print{
    .address {
    font-size: 1rem;
}
}

img {
    width: 400px;
    height: 200px;
}